body {
    font-family: "Lato", sans-serif;
}

/* Fixed sidenav, full height */
.sidenav {
    height: 800px;
    width: 250px;
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a,
.account-dropdown-btn,
.config-dropdown-btn,
.market-dropdown-btn,
.steam-dropdown-btn,
.wallet-dropdown-btn,
.wallet-deposit-dropdown-btn,
.wallet-withdraw-dropdown-btn,
.wallet-withdraw-cryptocurrency-dropdown-btn,
.wallet-withdraw-binance-dropdown-btn,
.visa-dropdown-btn,
.cryptocurrency-dropdown-btn,
.binance-dropdown-btn,
.giftcode-dropdown-btn,
.zen-dropdown-btn,
.card-dropdown-btn,
.wallet-stats-dropdown-btn,
.wallet-transactions-dropdown-btn,
.wallet-reports-dropdown-btn,
.steam-trades-dropdown-btn,
.profile-dropdown-btn,
.affiliate-dropdown-btn,
.two-factor-dropdown-btn,
.pricing-dropdown-btn,
.market-items-dropdown-btn,
.buy-items-dropdown-btn,
.withdraw-dropdown-btn,
.delist-dropdown-btn,
.relist-dropdown-btn,
.update-price-dropdown-btn,
.item-history-dropdown-btn,
.receipt-dropdown-btn,
.bump-up-dropdown-btn,
.all-available-skins-dropdown-btn,
.all-insell-items-dropdown-btn,
.api-dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

/* On mouse-over */
.sidenav a:hover,
.account-dropdown-btn:hover,
.config-dropdown-btn:hover,
.steam-dropdown-btn:hover,
.steam-trades-dropdown-btn:hover,
.wallet-dropdown-btn:hover,
.wallet-stats-dropdown-btn:hover,
.wallet-transactions-dropdown-btn:hover,
.wallet-reports-dropdown-btn:hover,
.wallet-deposit-dropdown-btn:hover,
.cryptocurrency-dropdown-btn:hover,
.giftcode-dropdown-btn:hover,
.zen-dropdown-btn:hover,
.card-dropdown-btn:hover,
.profile-dropdown-btn:hover,
.affiliate-dropdown-btn:hover,
.two-factor-dropdown-btn:hover,
.api-dropdown-btn:hover,
.wallet-withdraw-dropdown-btn:hover,
.wallet-withdraw-cryptocurrency-dropdown-btn:hover,
.wallet-withdraw-binance-dropdown-btn:hover,
.visa-dropdown-btn:hover {
    color: white;
}

/* Main content */
.main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
    background-color: grey;
    color: black;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.account-dropdown-container,
.config-dropdown-container,
.profile-dropdown-container,
.affiliate-dropdown-container,
.two-factor-dropdown-container,
.api-dropdown-container,
.pricing-dropdown-container,
.market-items-dropdown-container,
.buy-items-dropdown-container,
.withdraw-dropdown-container,
.delist-dropdown-container,
.relist-dropdown-container,
.update-price-dropdown-container,
.item-history-dropdown-container,
.receipt-dropdown-container,
.bump-up-dropdown-container,
.all-available-skins-dropdown-container,
.all-insell-items-dropdown-container,
.market-dropdown-container,
.steam-dropdown-container,
.steam-trades-dropdown-container,
.wallet-dropdown-container,
.wallet-stats-dropdown-container,
.wallet-transactions-dropdown-container,
.wallet-reports-dropdown-container,
.wallet-deposit-dropdown-container,
.wallet-withdraw-dropdown-container,
.wallet-withdraw-cryptocurrency-container,
.wallet-withdraw-binance-dropdown-container,
.visa-dropdown-container,
.binance-dropdown-container,
.cryptocurrency-dropdown-container,
.giftcode-dropdown-container,
.zen-dropdown-container,
.card-dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

#form-submit-button {
    position: relative;
    bottom: 15px;
    width: 710px;
    left: 10px;
}
