#Login-Text
{
  position: relative;
  left: 47%;
  padding-top: 60px;
  font-family: monospace;
}

#Login-Email-Text
{
  position: relative;
  left: 42%;
  padding-top: 80px;
  font-family: monospace;
}

#Login-Button
{
  position: relative;
  top: 30px;
  left: 44%;
  width: 150px;
  border-radius: 12px;
}

#Login-Email
{
  position: relative;
  border-radius: 12px;
  width: 320px;
  height: 50px;
  left: 39%;
}

#Login-Email:focus
{
  transform: scale(1.1) perspective(1px);
  transition: 0.7s;
}

#Login-Password
{
  position: relative;
  border-radius: 12px;
  width: 320px;
  height: 50px;
  left: 39%;
}

#Login-Password:focus
{
  transform: scale(1.1) perspective(1px);
  transition: 0.7s;
}

#Login-Button:hover
{
  transform: scale(1.1) perspective(1px);
  transition: 0.7s;
}

body
{
  background-color: #D3D3D3;
}

#Login-Facebook-Button
{
  position: relative;
  left: 41%;
  color: white;
  background-color: blue;
  border-radius: 12px;
  border-color: blue;
  width: 250px;
}

#Login-Facebook-Button:hover
{
  transform: scale(1.1) perspective(1px);
  transition: 0.7s;
}

#Facebook-Icon
{
  width: 25px;
  height: 20px;
  position: relative;
  bottom: 2px;
  right: 10px; 
}

#Login-Twitter-Button
{
  position: relative;
  left: 41%;
  color: white;
  background-color: #1DA1F2;
  border-radius: 12px;
  border-color: black;
  width: 250px;
}

#Login-Twitter-Button:hover
{
  transform: scale(1.1) perspective(1px);
  transition: 0.7s;
}

#Twitter-Icon
{
  width: 25px;
  height: 20px;
  position: relative;
  bottom: 2px;
  right: 10px;
}
