@tailwind base;
@tailwind components;
@tailwind utilities;

body, html{
  margin:0;
  padding:0;
}

#settings-text{
  position: relative;
  left: 10%;
  margin-top: 10%;
}

#public-profile,
#account-settings,
#notifications{
  position: relative;
  left:10%;
  top: 5%;
  width: 150px;
  border-radius: 12px;
  border-color: grey;
  color: black;
}

#sidebar{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  height: 100vh;
}

#sidebar{
  height: 100vh;
  width: 40vh;
}

#public-profile{
  position:relative;
  width: 500px;
  left: 16vh;
  top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

#public-profile-card-title{
  position: relative;
  bottom: 8vh;
  font-size: 25px;
}

#last-name-div{
  position:relative;
  bottom: 11vh;
}

#first-name-div{
  position:relative;
  bottom: 11vh;
}

#public-profile-next-button{
  position: relative;
  top: 5vh;
  background-color: lightblue !important; 
}

#public-profile-next-button:hover{
  transform: scale(1.1) perspective(1px);
  transition: 0.7s;
}

#phone-number-div{
  position:relative;
  bottom: 10vh;
  width:135px
}

#email-div{
  position:relative;
  bottom:10vh;
}
